<div class="container">
    <mat-card class="mat-container">
      <form (ngSubmit)="save()">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nombre Obra</mat-label>
              <input matInput [(ngModel)]="workForm.name" name="name" required />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Código Obra</mat-label>
              <input matInput [(ngModel)]="workForm.code" name="code" required />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Dirección</mat-label>
              <input matInput [(ngModel)]="workForm.address" name="address" />
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Fecha Inicio</mat-label>
              <input matInput [matDatepicker]="picker1" [(ngModel)]="workForm.startDate" name="startDate" />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
  
          <div class="col-md-3">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Fecha Término</mat-label>
              <input matInput [matDatepicker]="picker2" [(ngModel)]="workForm.endDate" name="endDate" />
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
  
          <div class="col-md-3">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Región</mat-label>
              <mat-select [(ngModel)]="workForm.region" name="region">
                <mat-option *ngFor="let region of regions" [value]="region">{{ region }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <div class="col-md-3">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Comuna</mat-label>
              <mat-select [(ngModel)]="workForm.commune" name="commune">
                <mat-option *ngFor="let commune of communes" [value]="commune">{{ commune }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
  
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Observaciones</mat-label>
          <textarea matInput rows="2" [(ngModel)]="workForm.observations" name="observations"></textarea>
        </mat-form-field>
  
        <div class="d-flex justify-content-end gap-2">
          <button mat-raised-button color="primary" type="submit">
            {{ isEditing ? 'Actualizar' : 'Guardar' }}
          </button>
          <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancelar</button>
        </div>
      </form>
    </mat-card>
  
    <mat-card class="mt-4">
      <table mat-table [dataSource]="works" class="mat-elevation-z2 w-100">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Código</th>
          <td mat-cell *matCellDef="let w">{{ w.code }}</td>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Obra</th>
          <td mat-cell *matCellDef="let w">{{ w.name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="commune">
          <th mat-header-cell *matHeaderCellDef>Comuna</th>
          <td mat-cell *matCellDef="let w">{{ w.commune }}</td>
        </ng-container>
  
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Inicio</th>
          <td mat-cell *matCellDef="let w">{{ w.startDate }}</td>
        </ng-container>
  
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef>Término</th>
          <td mat-cell *matCellDef="let w">{{ w.endDate }}</td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let w; let i = index">
            <button mat-icon-button color="primary" (click)="edit(i)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="['code', 'name', 'commune', 'startDate', 'endDate', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['code', 'name', 'commune', 'startDate', 'endDate', 'actions']"></tr>
      </table>
    </mat-card>
  </div>
  