<div class="container">
  <mat-card class="mat-container">
    <h2 class="title">Planificación Actividades</h2>

    <div class="filters-container">

      <app-custom-select
        label="Proyecto"
        [formControl]="projectControl"
        [parameterType]="projectParameterType"
        [loadFromApi]="true"
        [customApiEndpoint]="projectApiEndpoint"
        [customApiRequestBody]="projectApiRequestBody"
        [customOptionValueKey]="projectOptionValue"
        [customOptionLabelKey]="projectOptionLabel"
        (selectionChange)="onProjectSelectionChange($event)"
        placeholder="Seleccionar Proyecto"
        [required]="true"
        appearance="fill"
      ></app-custom-select>

      <app-custom-select
        #collaboratorSelect
        label="Colaborador"
        [formControl]="collaboratorControl"
        [parameterType]="collaboratorParameterType"
        [loadFromApi]="true"
        [customApiEndpoint]="collaboratorApiEndpoint"
        [customApiRequestBody]="collaboratorApiRequestBody"
        [customOptionValueKey]="collaboratorOptionValue"
        [customOptionLabelKey]="collaboratorOptionLabel"
        (selectionChange)="onCollaboratorSelectionChange($event)"
        placeholder="Seleccionar Colaborador"
        appearance="fill"
      ></app-custom-select>

      <mat-form-field appearance="fill">
        <mat-label>Periodo</mat-label>
        <input 
          matInput 
          [matDatepicker]="picker" 
          [(ngModel)]="selectedPeriod" 
          [value]="selectedPeriod"
          (dateChange)="onPeriodChange($event)"
          [placeholder]="formattedPeriod || 'MM/YYYY'"
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker
          #picker
          startView="multi-year"
          [startAt]="selectedPeriod"
          (monthSelected)="setMonthAndYear($event, picker)"
          panelClass="month-picker"
        ></mat-datepicker>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" class="consultar-btn" (click)="onConsultarClick()">
          <mat-icon>search</mat-icon>
          Consultar
        </button>
        
        <button mat-raised-button color="accent" class="inspection-button" (click)="openInspectionModal()">
          <mat-icon>assignment</mat-icon> Abrir Inspección SSTMA
        </button>
        <button mat-raised-button color="accent" class="inspection-button" (click)="openChecklistModal()">
          <mat-icon>assignment</mat-icon> checklist
        </button>
        <button mat-raised-button color="accent" class="inspection-button" (click)="openArtModal()">
          <mat-icon>assignment</mat-icon> ART
        </button>
      </div>
    </div>

    <div class="section-separator" *ngIf="showPlanificationTable"></div>

    <!-- Loading indicator -->
    <div class="loading-container" *ngIf="isLoading">
      <mat-spinner diameter="40"></mat-spinner>
      <p>Cargando actividades...</p>
    </div>

    <div *ngIf="showPlanificationTable">
      <div class="cronograma-header">
        <h3>DETALLE CRONOGRAMA MENSUAL</h3>
      </div>

      <app-planification-table
          [activities]="activities"
          [days]="days"
          [selectedPeriod]="selectedPeriod"
          [projectId]="selectedProjectId"
          [selectedCollaboratorName]="selectedCollaboratorName"
          (activityStatusChanged)="handleActivityStatusChanged($event)"
          (saveChanges)="saveAllChanges()"
      ></app-planification-table>
    </div>

  </mat-card>
</div>
