<mat-card class="popup-container">
    <h2>Mantenedor Usuario / Obras</h2>
  
    <div class="collab-row">
      <button mat-button color="primary" class="collab-label">Colaborador</button>
      <input matInput [value]="collaborator" readonly class="collab-input" />
    </div>
  
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 full-width">
  
        <ng-container matColumnDef="work">
          <th mat-header-cell *matHeaderCellDef>Obra</th>
          <td mat-cell *matCellDef="let row">{{ row.work }}</td>
        </ng-container>
  
        <ng-container matColumnDef="enable">
          <th mat-header-cell *matHeaderCellDef>Habilita</th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox [(ngModel)]="row.enable"></mat-checkbox>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="validator">
          <th mat-header-cell *matHeaderCellDef>Validador</th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox [(ngModel)]="row.validator"></mat-checkbox>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="reviewer">
          <th mat-header-cell *matHeaderCellDef>Revisor</th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox [(ngModel)]="row.reviewer"></mat-checkbox>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>
    </div>
  
    <div class="footer">
      <button mat-button color="warn" (click)="close()">
        <mat-icon>close</mat-icon> Salir
      </button>
    </div>
  </mat-card>
  