<div class="container">
  <mat-card class="mat-container">
    <mat-tab-group>
      <mat-tab label="Etapas Constructivas">
        <app-constructive-stages></app-constructive-stages>
      </mat-tab>

      <mat-tab label="Sub-procesos">
        <app-subprocesses></app-subprocesses>
      </mat-tab>

      <mat-tab label="Ambitos">
        <app-ambits></app-ambits>
      </mat-tab>

      <mat-tab label="Actividades">
        <app-activities></app-activities>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
