<div class="password-container">
  <mat-card class="password-card">

    <div class="password-card-content">
      <h2 class="title">Cambio de Clave</h2>

      <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Usuario</mat-label>
          <input matInput [(ngModel)]="user" name="user" readonly />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Clave Antigua</mat-label>
          <input
            matInput
            type="password"
            name="oldPassword"
            [(ngModel)]="oldPassword"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nueva Clave</mat-label>
          <input
            matInput
            type="password"
            name="newPassword"
            [(ngModel)]="newPassword"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Repetir Clave</mat-label>
          <input
            matInput
            type="password"
            name="repeatPassword"
            [(ngModel)]="repeatPassword"
            required
          />
        </mat-form-field>

        <button
          mat-raised-button
          class="full-width custom-btn"
          [disabled]="!passwordForm.form.valid"
        >
          Cambiar Clave
        </button>
      </form>
    </div>
  </mat-card>
</div>
