<div class="access-container">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Tipo Acceso</mat-label>
          <mat-select [(value)]="selectedRole">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <table mat-table [dataSource]="filteredScreens" class="mat-elevation-z2 full-width">
  
          <ng-container matColumnDef="screen">
            <th mat-header-cell *matHeaderCellDef>Pantalla</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
  
          <ng-container matColumnDef="access">
            <th mat-header-cell *matHeaderCellDef>Acceso</th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox [(ngModel)]="element.access"></mat-checkbox>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="write">
            <th mat-header-cell *matHeaderCellDef>Grabar</th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox [(ngModel)]="element.write"></mat-checkbox>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  