.access-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  
    mat-card {
      width: 600px;
      padding: 1rem;
    }
  
    .full-width {
      width: 100%;
    }
  

  }
  