<div class="container">
  <mat-card class="mat-container">
    <h2 class="title">Cambio de Clave</h2>

    <div class="form-column">
      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput [(ngModel)]="username" disabled />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Clave Antigua</mat-label>
        <input matInput type="password" [(ngModel)]="oldPassword" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nueva Clave</mat-label>
        <input matInput type="password" [(ngModel)]="newPassword" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Repetir Nueva Clave</mat-label>
        <input matInput type="password" [(ngModel)]="repeatPassword" />
      </mat-form-field>
    </div>

    <div class="button-row">
      <button mat-flat-button color="primary" (click)="changePassword()" [disabled]="loading">
        <mat-icon *ngIf="loading">sync</mat-icon>
        <span>{{ loading ? 'Procesando...' : 'Grabar' }}</span>
      </button>
    </div>
  </mat-card>
</div>
