/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
$primary-color: #0d1b42; 

.mat-expansion-indicator::after {
    color: white !important;
  }

  .sidebar.collapsed {
    .mat-expansion-indicator::after {
      display: none !important;
    }
  }
  