<div class="map-container">
  <mat-card class="map-card">
    <div *ngIf="isLoading" class="spinner-overlay">
      <mat-spinner></mat-spinner>
    </div>
    
    <div class="map-card-header">
      <h2 class="title">Mapa Organizacional</h2>
      <button 
        mat-flat-button 
        color="primary" 
        class="add-user-button" 
        (click)="toggleFormVisibility()" 
        *ngIf="!isFormVisible">
        <mat-icon>person_add</mat-icon> Agregar usuario
      </button>
    </div>

    <div class="map-card-content" [class.form-collapsed]="!isFormVisible">
      <div class="form-container" *ngIf="isFormVisible">
        <div class="form-header">
          <h3>Datos de usuario</h3>
          <button mat-icon-button color="primary" (click)="toggleFormVisibility()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-grid">
          <mat-form-field appearance="outline" class="compact-field">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="compact-field">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="usuario" />
          </mat-form-field>

        </div>
        
        <div class="select-grid">  <!-- Using select-grid class for the smaller layout -->
          <mat-form-field appearance="outline" class="compact-field">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="clave" type="password" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="compact-field">
            <mat-label>eMail</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="compact-field">
            <mat-label>Nº Celular</mat-label>
            <input matInput formControlName="celular" />
          </mat-form-field>
        </div>

        <div class="select-grid">
          <app-custom-select
            formControlName="cargo"
            [loadFromApi]="true"
            [parameterType]="parameterTypes.CARGO"
            label="Cargo"
            [appearance]="'outline'"
            [required]="true"
            class="compact-field"
          ></app-custom-select>

          <app-custom-select
            formControlName="tipoAcceso"
            [loadFromApi]="true"
            [parameterType]="parameterTypes.TIPO_ACCESO"
            label="Tipo Acceso"
            [appearance]="'outline'"
            [required]="true"
            class="compact-field"
          ></app-custom-select>

          <app-custom-select
            formControlName="empresa"
            [loadFromApi]="true"
            [parameterType]="parameterTypes.EMPRESA"
            label="Empresa Contratista"
            [appearance]="'outline'"
            [required]="true"
            class="compact-field"
          ></app-custom-select>
        </div>

        <div class="button-row">
          <button mat-stroked-button type="button" (click)="resetForm()">
            <mat-icon>refresh</mat-icon> Limpiar
          </button>
          <button mat-raised-button color="primary" type="submit">
            <mat-icon>save</mat-icon> Grabar
          </button>
        </div>
      </form>
      </div>
    </div>

    <hr />
    <app-data-table
      [columns]="tableColumns"
      [data]="tableData"
      [actionButtons]="tableActionButtons"
      [pageSizeOptions]="[10, 25, 50, 100]"
      [pageSize]="25"
      [striped]="true"
      (rowAction)="handleTableAction($event)"
      [showSearchBar]="true"
    ></app-data-table>
  </mat-card>
</div>
